%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}  
  %head
    %title Poorsmatic
  %body
    %ul
      %li
        %a{:href => url('/terms')} Terms
      %li
        %a{:href => url('/urls')} Urls

