[submodule "torquebox-core"]
	path = torquebox-core
	url = git://github.com/torquebox/torquebox-core.git
[submodule "torquebox-docs"]
	path = torquebox-docs
	url = git://github.com/torquebox/torquebox-docs.git
[submodule "torquebox-gem"]
	path = torquebox-gem
	url = git://github.com/torquebox/torquebox-gem.git
[submodule "torquebox-metadata"]
	path = torquebox-metadata
	url = git://github.com/torquebox/torquebox-metadata.git
[submodule "torquebox-spi"]
	path = torquebox-spi
	url = git://github.com/torquebox/torquebox-spi.git
[submodule "torquebox-rails"]
	path = torquebox-rails
	url = git://github.com/torquebox/torquebox-rails.git
