language: ruby

rvm:
  - jruby-19mode
  - jruby-9.0.5.0
  - jruby-head

matrix:
  include:
    - rvm: jruby-19mode
      jdk: openjdk7
      env: INTEG_SUITE="spec:disk spec:jar"
  allow_failures:
    - rvm: jruby-head

jdk:
  - oraclejdk8

env:
  matrix:
    - INTEG_SUITE=spec:all
  global:
    - JAVA_OPTS="-Xmx1536m"

sudo: false

cache:
  directories:
    - $HOME/.m2/repository

before_install:
  - gem install bundler
  - gem update bundler

install: travis_retry bundle install

before_script:
  - unset RACK_ENV RAILS_ENV
  - bundle exec rake build

script:
  - bundle exec rake rubocop
  - bundle exec rake spec
  - cd integration-tests
  - travis_wait bundle exec rake spec:wildfly:setup
  - bundle exec rake $INTEG_SUITE

branches:
  only:
    - master
