<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2010, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<module xmlns="urn:jboss:module:1.0" name="org.torquebox.core">

    <resources>
        <resource-root path="${project.artifactId}.jar"/>
        <resource-root path="hibernate-commons-annotations.jar"/>
        <resource-root path="hibernate-search.jar"/>
        <resource-root path="hibernate-search-analyzers.jar"/>
        <resource-root path="infinispan-query.jar"/>
        <resource-root path="lucene-analyzers.jar"/>
        <resource-root path="lucene-core.jar"/>
        <resource-root path="lucene-highlighter.jar"/>
        <resource-root path="lucene-memory.jar"/>
        <resource-root path="lucene-misc.jar"/>
        <resource-root path="lucene-smartcn.jar"/>
        <resource-root path="lucene-spatial.jar"/>
        <resource-root path="lucene-spellchecker.jar"/>
        <resource-root path="lucene-stempel.jar"/>
    </resources>

    <exports>
      <include-set>
        <path name="org/jruby"/>
        <path name="org/jruby/**"/>
        <path name="org/jruby/ast"/>
        <path name="org/jruby/libraries"/>
        <path name="org/yaml"/>
        <path name="org/yaml/**"/>
        <path name="org/yaml/snakeyaml"/>
        <path name="org/yaml/snakeyaml/error"/>
        <path name="org/torquebox/core/util"/>
        <path name="org/torquebox/bootstrap/as"/>
        <path name="org/infinispan/query"/>
        <path name="org/infinispan/query/impl"/>
      </include-set>
    </exports>

    <dependencies>
        <module name="org.torquebox.bootstrap" export="true"/>
        <module name="javax.api"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.deployment-repository"/>
        <module name="org.jboss.as.ee"/>
        <module name="org.jboss.as.naming"/>
        <module name="org.jboss.as.jmx"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.as.transactions"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.stdio"/>
        <module name="org.jboss.vfs"/>
        <module name="org.infinispan"/>
<!--
        <module name="org.jboss.threads"/>
        <module name="org.jboss.as.deployment-repository"/>
-->
    </dependencies>
</module>

