.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:accounts, :index)
      %li.active=link_to pat(:new), url(:accounts, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:account)
    .inner
      -form_for :account, url(:accounts, :create), :class => :form do |f|
        =partial "accounts/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
